footer{
    width: 100%;
    line-height: 20px;
}


footer h3{
    width: 50%;
    font-size: 1.3rem;
    color: rgb(225, 228, 253);
    padding-right: 5%;
}


footer h2{
    font-size: 1.8rem;
    color: rgb(225, 228, 253);
}

.container_geral_footer, .nav_footer_container, .footer_contat, .footer_social, .social_icon{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav_footer_container, .footer_contat, .footer_social{
    margin: 0 20px;
    text-align: center;
}

.footer_contat{
    padding-bottom: 3%;
}

.footer_social{
    padding-top: 3%;
}

.container_geral_footer{
    background-color: #06063e;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;

    font-family: "Roboto", sans-serif;
}

/* animating the phrase "agradecemos a visita" */
 .container_geral_footer > h2{
    animation: thanks;
    animation: thanks 3s linear 3s forwards;
}

.nav_footer_container a{
    margin: 10px;
}

.container_footer_contat{
    width: 80vw;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    transform: translateX(-30px);
}

.container_social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}

footer a{
    font-weight: bold;
    text-decoration: none;
    color:rgb(225, 228, 253);
    font-size: 0.9rem;
    
}
footer a:hover{
    text-decoration: underline;
    scale: 104%;
}

footer a:visited{
    color:rgb(225, 228, 253);
}

.contaticon p{
    font-family: "Roboto" , sans-serif;
    font-size: 0.8rem;
    color:rgb(225, 228, 253);   
    text-transform: uppercase;
}

.contaticon{
    width: 30%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
    border-left: 2px solid #fff;
}

#page-icon{
    border-left: none;
}



.contaticon img{
    width: 80px;
    height: 80px;
    padding: 20px;
    
}

.social_icon img{
    height: 5vh;
}
/* animating the phrase "agradecemos a visita" */
@keyframes thanks {
    0%{
        color:rgb(225, 228, 253);
    }

    50% {
        transform: translateY(-15vh);
        color: #06063e;
    }

    100%{
        transform: translateY(-15vh);
        color: #06063e;
    }
}